#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */


.headerContainer {
  width: 100vw;
  margin: 0;
  padding: 0;
  max-height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dateAndTimeContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw;
  padding: 2vw;
  font-size: 1.5em;
}

/* SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR */

.sidebarSvg {
  width: 5vh;
  height: auto;
  padding-left: 1vw;
  filter: invert(100%) sepia(0%) saturate(7457%) hue-rotate(172deg) brightness(97%) contrast(110%);
  cursor: pointer;
}

.sidebarContainerBackground {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.sidebarContainer {
  position: fixed;
  top: 10vh;
  left: 0;
  height: 80vh;
  width: 30vw;
  color: black;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.classAddButton {
  width: 5vh;
  height: auto;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP */

.appContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  max-height: 80vh;
  overflow: scroll;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footerContainer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  max-height: 10vh;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM */

.addClassFormBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.addClassFormContainer {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 40vw;
  height: 40vh;
  overflow: scroll;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
}

.closeAddClassFormSvg {
  width: 5vh;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}