#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

.headerContainer {
  width: 100vw;
  margin: 0;
  padding: 0;
  max-height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333333;
  background-color: #1f1f1f;
}

.dateAndTimeContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 2vw;
  padding: 2vw;
  font-size: 1.8em;
}

/* SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR */

.sidebarSvg {
  width: 5vh;
  height: auto;
  padding-left: 1vw;
  filter: invert(100%) sepia(0%) saturate(7457%) hue-rotate(172deg) brightness(97%) contrast(110%);
  cursor: pointer;
}

.sidebarContainerBackground {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.sidebarContainer {
  position: fixed;
  top: 10vh;
  left: 0;
  height: 80vh;
  width: 30vw;
  overflow: scroll;
  color: black;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.sidebarMenuContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 5vh;
  background-color: #fff;
}

.sidebarMenu {
  display: flex;
  flex-direction: row;
}

.sideBarMenuButton {
  background: none;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s, color 0.3s;
  border-right: 1px solid #ddd;
}

.sideBarMenuButton:last-child {
  border-right: none;
}

.sideBarMenuButton:hover {
  background-color: #e0e0e0;
}

.sideBarMenuButton.active {
  background-color: #007bff;
  color: white;
}

.classAddButton {
  width: 5vh;
  height: auto;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.sidebarSelectAClassText {
  top: 0;
  position: absolute;
}

.agendaForm {
  font-family: Arial, sans-serif;
  width: 90%;
  max-height: 60vh;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.agendaFormGroup {
  margin-bottom: 16px;
}

.agendaFormLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.agendaFormTaskInput {
  min-width: 15vw;
}

.agendaFormSelect, .agendaFormSelectDuration, input[type="date"], input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.agendaFormSelectDuration {
  max-width: 5vw;
}

.agendaFormClassItem {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.agendaFormCloseIcon {
  width: 2vw;
  height: auto;
}

.agendaFormClassItemSelected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}


.agendaFormTaskRow {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.agendaFormTaskRow input[type="text"] {
  flex: 1;
  margin-right: 8px;
}

.agendaFormTaskRow select {
  margin-left: 8px;
}

.agendaFormRequiredItemsFormGroup {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.agendaFormSelectContainer {
  width: 50%;
  max-height: 20vh;
}

.agendaFormSelectOption {
  cursor: pointer;
  font-size: 1em;
  text-align: center;
}

.selectedSvgContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  gap: 1vh;
  padding-bottom: 2vh;
}

.agendaFormSelectedSvg {
  width: 2vw;
  height: auto;
}

.agendaFormButton {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.agendaFormButton:hover {
  background-color: #0056b3;
}

.agendaFormSubmitButton {
  height: 4vh;
  font-size: 1.25em;
  width: 80%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP APP */

.appContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  max-height: 80vh;
  overflow: scroll;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footerContainer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  max-height: 4vh;
  overflow: hidden;
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM ADD CLASS FORM */

.addClassFormBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.addClassFormContainer {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 40vw;
  height: 40vh;
  overflow: scroll;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
}

.closeAddClassFormSvg {
  width: 5vh;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.addClassFormLabel {
  font-size: 2em;
}

.addClassFormInput {
  font-size: 1.5em;
}

.addClassFormSubmitButton {
  min-height: 3vh;
  max-height: 5vh;
  width: auto;
  font-size: 1.25em;
  padding: 1vh;
  cursor: pointer;
}

/* CLASS LIST CLASS LIST CLASS LIST CLASS LIST CLASS LIST CLASS LIST CLASS LIST CLASS LIST CLASS LIST CLASS LIST CLASS LIST CLASS LIST */

.classListContainer {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
}

.classListItem {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 0;
  width: 80%;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: left;
  cursor: pointer;
  font-size: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.classListItem:hover {
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.classListItemSelected {
  background-color: #d0e0ff;
  border: 2px solid #0044cc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.classItemOptionsContainer {
  position: absolute;
  right: 3vw;
  margin: 0;
  padding: 0;
}

/* AGENDA PRESENTATION AGENDA PRESENTATION AGENDA PRESENTATION AGENDA PRESENTATION AGENDA PRESENTATION AGENDA PRESENTATION */

.agendaOptionsContainer {
  min-width: 20vw;
  max-width: 30vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  height: 80vh;
}

.agendaOptionsHeaderText {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.agendaOptionText {
  font-size: 1rem;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #444;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.agendaOptionText:hover {
  background-color: #e0e0e0;
  color: #000;
}

.agendaOptionText.selected {
  background-color: #007bff;
  color: #ffffff;
}

.agendaPresentation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  overflow: hidden;
}

.agendaImportInfoContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.agendaPresentationHeader {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.agendaPresentationEssentialQuestion {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
}

.agendaPresentationHomework,
.agendaPresentationWhy {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
}

.agendaPresentationSvgContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.agendaPresentationHeaderText {
  font-size: 1.25em;
  font-weight: 500;
}

.agendaPresentationSvgIcons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 1vw;
}

.agendaPresentationSvgIcon {
  width: 3vw;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(78deg) brightness(103%) contrast(102%);
}

.agendaPresentationTasks {
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.agendaPresentationTasksHeader {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
}

.agendaPresentationTasksList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.agendaPresentationTaskItem {
  font-size: 1.15rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.agendaPresentationTaskItem:last-child {
  border-bottom: none;
}

.agendaPresentationTaskItemHover {
  background-color: #444;
  color: #e0e0e0;
}

.agendaPresentationTaskItemSelected {
  background-color: #00bfae;
  color: #fff;
}

.agendaPresentationPlaySvg {
  width: 3vw;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(78deg) brightness(103%) contrast(102%);
  cursor: pointer;
}

/* COUNTDOWN TIMER COUNTDOWN TIMER COUNTDOWN TIMER COUNTDOWN TIMER COUNTDOWN TIMER COUNTDOWN TIMER COUNTDOWN TIMER COUNTDOWN TIMER */

.countdownTimerBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.countdownTimerContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10vh;
}

.countdownTimerTaskNameHeader {
  font-size: 3em;
}

.countdownTimerTimeText {
  font-size: 5em;
}

.countdownTimerOptionsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.countdownTimerOptionSvg {
  width: 3vw;
  height: auto;
  cursor: pointer;
  filter: invert(38%) sepia(0%) saturate(2598%) hue-rotate(196deg) brightness(90%) contrast(81%);
}

.countdownTimerOptionSelected {
  filter: invert(27%) sepia(82%) saturate(4112%) hue-rotate(203deg) brightness(111%) contrast(101%);
}

.countdownTimerCloseSvg {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 3vw;
  height: auto;
  cursor: pointer;
  filter: invert(45%) sepia(18%) saturate(1952%) hue-rotate(314deg) brightness(93%) contrast(97%);
}

.countdownTimerEditSvg {
  position: absolute;
  top: 0vh;
  right: 0vw;
  width: 2.75vw;
  height: auto;
  cursor: pointer;
  filter: invert(71%) sepia(59%) saturate(511%) hue-rotate(159deg) brightness(91%) contrast(91%);
}

/* EDIT TIMER FORM EDIT TIMER FORM EDIT TIMER FORM EDIT TIMER FORM EDIT TIMER FORM EDIT TIMER FORM EDIT TIMER FORM EDIT TIMER FORM */

.editTimerBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.editTimerForm {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 300px;
}

.editTimerCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.editTimerFormContent {
  display: flex;
  flex-direction: column;
}

.editTimerField {
  margin-bottom: 15px;
}

.editTimerField label {
  display: block;
  margin-bottom: 5px;
}

.editTimerField input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editTimerSubmitButton {
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.editTimerSubmitButton:hover {
  background-color: #0056b3;
}
